---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import LinkedInIcon from "../components/icons/Linkedln.astro"
import SocialPill from '../components/SocialPill.astro';
import GitHubIcon from "../components/icons/Github.astro"
import MailIcon from "../components/icons/Mail.astro"
import Experience from '../components/Aboutme.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Briefcase from '../components/icons/Briefcase.astro';
import CodeIcon from '../components/icons/Code.astro';
import Projects from '../components/Projects.astro';
---

<Layout 
	title="Porfolio de Josten Huaman - Desarrollador y Programador Web con 1 año de experiencia"
	description='Contrata a Josten Huaman, Desarrollador Web con 1 año de experiencia. Especializado en crear páginas web. De Lima, Perú.'
>
	<main class="px-4">
		<SectionContainer class="py-44 pb-32" id="contacto">
			<img class="rounded-full size-14 mb-4" src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExNjgwcXZ6eng4bHVkOWZ1Y2pxZ3prdHE4OXY1dWllajhjbW50bnhpZCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/ZeUlHA45dbWOA/giphy.gif" alt="jostenhuaman photo">
			<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">
				Hey, soy Josten 
				<a href="https://www.linkedin.com/in/josten-marc-huam%C3%A1n-bellido-bb675b262/" target="_blank" rel="noopener" class="flex justify-center items-center"> 
					<Badge>Disponible para trabajar</Badge> 
				</a>
			</h1>
			<h2 class=" text-xl lg:text-2xl text-wrap max-w-[700px]">
				<span>+1 año de Experiencia.</span> 
				<span class=" text-yellow-200/90">Desarrollador Web. </span>
				<span class="text-red-200/90">De Lima, Perú.</span> 
				<span class="opacity-75">Especializado en crear páginas web.</span>
				
			</h2>
			<nav class="flex gap-x-4 mt-8 flex-wrap">
				<SocialPill href='https://www.linkedin.com/in/josten-marc-huam%C3%A1n-bellido-bb675b262/'>
					<LinkedInIcon class="size-4 md:size-6" />
					LinkedIn	
				</SocialPill>	
				<SocialPill href='https://github.com/JostenHuaman'>
					<GitHubIcon class="size-4 md:size-6" />
					Github	
				</SocialPill>
				<SocialPill href='mailto:jostenhuamanbellido@gmail.com'>
					<MailIcon class="size-4 md:size-6" />
					jostenhuamanbellido@gmail.com
				</SocialPill>								
			</nav>
			
		</SectionContainer>
		<SectionContainer id="sobre-mi">
			<h2 class="text-4xl font-semibold mb-6 flex gap-x-2 items-center">
				<Briefcase class="size-7" />
				Sobre mí
			</h2>
			<Experience />
		</SectionContainer>
		<SectionContainer id="proyectos">
			<h2 class="text-4xl font-semibold mb-6 flex gap-x-2 items-center">
				<CodeIcon class="size-7" />
				Proyectos
			</h2>
			<Projects />
		</SectionContainer>
	</main>
</Layout>

